.decor {
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    /* top: -113px; */
    top: -154px;
    left: 0;
    /* padding-top: 56.25%; */
    background-image: url("/illustrations/lp/hero/hero-bg-lines.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    /* padding-top: 56.25%; */
    background-image: url("/illustrations/lp/hero/hero-decor-new.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}
@media (max-width: 1000px) {
  .decor::before {
    display: none;
  }
}
